@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-hover {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-hover {
  background-size: 200%;
  background-position: 0% 50%;
  animation: gradient-hover 1s ease-in-out forwards;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--poppins) sans-serif;
}
